<!--

Config patching for Sitecore.Mvc.Extension

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!--mvc.renderPlaceholder>
        <processor type="Sitecore.Mvc.Extension.Pipelines.PerformRenderingWithRoutes, Sitecore.Mvc.Extension"
             patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']" />
      </mvc.renderPlaceholder>
      <mvc.getRenderer>
        <processor type="Sitecore.Mvc.Extension.Pipelines.GetControllerRenderer, Sitecore.Mvc.Extension"
               patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc']" />
      </mvc.getRenderer>
      <mvc.renderRendering>
        <processor type="Sitecore.Mvc.Extension.Pipelines.ExecuteRenderer, Sitecore.Mvc.Extension"
               patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.ExecuteRenderer, Sitecore.Mvc']" />
      </mvc.renderRendering-->
      <mvc.getPageRendering>
        <processor patch:after="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageRendering.GetLayoutRendering, Sitecore.Mvc']" 
                   type="Sitecore.Mvc.Extension.Pipelines.GetAjaxLayoutRendering, Sitecore.Mvc.Extension"/>
      </mvc.getPageRendering>
    </pipelines>

    <controlSources>
    </controlSources>

    <commands>
    </commands>

    <events>
    </events>

  </sitecore>
</configuration>