Sitecore MVC extension examples:

<li>
    <ul>
        <a href="~/Sitecore%20Mvc%20Extension%20Example/Loading%20Rendering%20With%20Ajax/">
            Loading rendering from page by AJAX request
        </a>
    </ul>
    <ul>
        <a href="~/Sitecore Mvc Extension Example/Route Values Via Placeholder/">
            Transfering route values to controller action via placeholder
            (view data to partial view)
        </a>
    </ul>
    <ul>
        <a href="~/Sitecore Mvc Extension Example/Edit Frame">
            Sitecore MVC Edit Frame
        </a>
    </ul>
</li>