@using Sitecore.Mvc
@using Sitecore.Mvc.Extension
<!DOCTYPE html>

<html>
<body>
    <h1>Sitecore MVC Example
    </h1>
    <div>
        @Html.SitecoreExtended().Placeholder("content", new { a = "b" })
    </div>
</body>
</html>
