@using Sitecore.Mvc
@using Sitecore.Mvc.Extension
<!DOCTYPE html>

<html>
<body>
    <form id="mainform" method="post" runat="server">
        <h1>Header
        </h1>
        <div>
            @Html.SitecoreExtended().Placeholder("content",new{ a = "b"})
        </div>
    </form>
</body>
</html>
