@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
    <body>
        <h1>
            Header
        </h1>
        <div>
            @Html.Sitecore().Placeholder("content")
        </div>
    </body>
</html>
